<div class="row MainCtrl">

	<div class="span2 offset1 pull-left">
		<input type="button" class="btn" value="back" ng-click="back();">
	</div>

	<div class="container">
		<div class="row">
			<div line-chart data="data" class="chart span6"></div>

			<div class="tags span2">
				<h4>Tags</h4>
				<table>
						<tr>
							<th></th>
							<th>plot</th>
							<th>view</th>
							<th></th>
						</tr>
					<tr ng-repeat="tag in p.tags">
						<td><input type="text" class="" ng-model="tag.label" /></td>
						<td><input type="checkbox" ng-model="tag.plot"></td>
						<td><input type="checkbox" ng-model="tag.view"></td>
						<td><a ng-click="p.tags.splice($index, $index+1)" href="#">[x]</a></td>
					</tr>
					<tr>
						<td>Show All</td>
						<td><input type="checkbox" ng-model="p.showAll"></td>
					</tr>
				</table>
				<input type="button" class="btn" ng-click="p.tags.push({plot:true,view:true})" value="add" />
			</div>
		</div>

		<div class="row">
			<ul class="logLines">
		  	<li ng-repeat="line in lines | viewTaggedLines:p.tags:p.showAll | subset:paginationStart:paginationSize">
		  		<p id="line{{$index}}">{{line}}</p>
		  	</li>
			</ul>
			<ul class="pager">
			  <li class="previous" ng-class="{true:'.disabled',false:''}[p.subsetStart==0]">
			    <a href="#">&larr; Older | <b>{{paginationStart}}</b></a>
			  </li>
			  <li class="next">
			    <a href="#"><b>{{lines.length}}</b> | Newer &rarr;</a>
			  </li>
			</ul>
		</div>
	</div>
</div>