<div ng-controller="FileOpenerCtrl">
	<h3>File Opener</h3>
	<input type="file" id="files" name="files[]" multiple />
	<input type="text" ng-model="query" placeholder="filter" />
	<input type="text" ng-model="dateSearch" placeholder="dateSearch" />
	<input type="text" ng-model="limit" placeholder="limit" />
	<input type="button" ng-click="drawChart()" value="Draw Chart" />
	<ul>
  	<li ng-repeat="line in lines | filter:query | limitTo:limit">
  		<p><span class="date">{{getDateString(line)}}</span> {{line}}</p>
  	</li>
	</ul>
	<div id="chart">
	</div>
</div>